[Unit]
Description=ClamAV OnAccess Scanning Serivce
Before=clamav-daemon.service

[Service]
User=root
ExecStart=/usr/sbin/clamonacc --config-file=/etc/clamav/clamd.conf --log=/var/log/clamav/notifyonly.log --fdpass --foreground
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target